<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <p>Here are a few of our partner organizations:</p>

    <ul>
        <% organizations.forEach(org => { %>
            <li>
                <a href="/organization/<%= org.organization_id %>">
                    <%= org.name %>
                </a>

                - <%= org.contact_email %>
            </li>
        <% }) %>
    </ul>
</main>

<%- include('partials/footer') %>