<%- include('partials/header') %>

<main>
    <h1><%= organization.name %></h1>

    <p>
        <strong>Contact Email:</strong>
        <%= organization.contact_email %>
    </p>

    <h2>Service Projects</h2>

    <% if (projects.length > 0) { %>

        <ul>
            <% projects.forEach(project => { %>

                <li>
                    <a href="/project/<%= project.project_id %>">
                        <%= project.project_name %>
                    </a>
                </li>

            <% }) %>
        </ul>

    <% } else { %>

        <p>No projects found for this organization.</p>

    <% } %>
</main>

<%- include('partials/footer') %>